/* WHITE */

/* Background color */
#subfooter ul.menu li,
ul.menu li, ul.tabs li a:hover,
.path-node #content-wrapper, .block-beargoyles-page-title,
.block-beargoyles-local-tasks,
h1.page-title, ul.tabs.primary, ol.search-results.node_search-results,
#subfooter, .item-list ul li, img.image-style-thumbnail,
img.image-style-medium, img.image-style-large-white-circle,
div#block-branding-beargoyles, .sideleaf, .roundcorner, .captcha,
div#site-slogan, div#site-name, a#logo img, h2 {
  background-color: #FFFFFF;
}

/* CHARCOAL */
h1, h3, h4, h5,
.comment,
.node--view-mode-teaser,
.path-node #content-wrapper,
ol.search-results.node_search-results {
  color:#333333;
}

/* Background color */
#header {
  background-color: #333333;
}

/* Border color */
.node--view-mode-teaser {
  border-color: #333333;
}

/* PURPLE */
a, a:hover,
input.form-text, input.form-email, input.form-search, textarea.form-textarea, select,
div.meta.submitted,a:focus,ul.menu li a.active,ul.menu li a:hover,ul.links li a.active,
ul.links li a:hover,#forum thead a:hover,#block-node-recent .node-title, input,
.search-result__title a:hover  {
  color: #51387e;
}

/* LIGHT PURPLE */
a:hover,a:focus,ul.menu li a.active,ul.menu li a:hover,ul.links li a.active,
ul.links li a:hover,#forum thead a:hover,#block-node-recent .node-title a:hover {
  color: #846baf;
}

/* Border color */
input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,
.dark input[type="submit"],.highlighted-block .btn:hover,.highlighted-block .btn:focus,.call-to-action .btn,
.tag a:hover, ::-moz-selection, ::selection, input.form-text:focus,
input.search-text:focus,textarea.form-textarea:focus,
input.form-text:focus,input.search-text:focus,textarea.form-textarea:focus {
  border-color: #846baf;
}

/* Background color */
input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,
.dark input[type="submit"],.highlighted-block .btn:hover,.highlighted-block .btn:focus,
.call-to-action .btn,.tag a:hover,
::-moz-selection,
::selection {
  background-color: #846baf;
}

/* DARK PURPLE */
.field--name-field-beargoyle-tags .field__item a:hover {
  color: #30054a;
}

/* SILVER */
h6, #subfooter, .bottomleaf {
  color: #666666;
}

/* GREY? */
/* Border color */
.item-list ul li {
  border-color: grey;
}

/* LIGHT SILVER */
/* Background color */
.field--name-field-beargoyle-tags .field__item:hover {
  background-color: #c1c4c9;
}
