

/* FONTS AND MARKUP */

/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Gwendolyn&family=Montserrat:wght@300&family=Nunito:wght@300;400&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Fonts, weight and style */
body, h3, h4, h5, h6, p {
  line-height: 200%;
  font-family: nunito, sans-serif;
}

p, .field__item, .field__label, div#edit-captcha-response--description {
  font-size: large;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color:#51387e;
  text-decoration:underline;
}

blockquote p {
  font-size: x-large;
  font-style: italic;
}

ul li {
  list-style: disk;
}

div.meta.submitted {
  font-size: 16px;
}

.node__links {
  float:right;
  font-size: 85%;
}

/* text colors */

/* purple text */
a, a:hover,
input.form-text, input.form-email, input.form-search, textarea.form-textarea, select,
div.meta.submitted,a:focus,ul.menu li a.active,ul.menu li a:hover,ul.links li a.active,
ul.links li a:hover,#forum thead a:hover,#block-node-recent .node-title, input, .search-result__title a:hover  {
  color: #51387e;
}

/* charcoal text */

h1, h3, h4, h5 {
  color:#333333;
}

/* silver text */
h6, #subfooter {
  color: #666666;
}


/* Spacing and Alignment */

input.form-text, input.form-email, input.form-search, textarea.form-textarea, select {
  padding:10px;
}

.block {
  padding: 0 0 5px 0;
}

.node--view-mode-teaser,
.path-node #content-wrapper, ol.search-results.node_search-results {
  padding: 15px;
}

.node__content {
  padding: 0 40px;
}

.field--type-image {
  float:left;
  margin-right: 25px;
  margin-bottom: 15px;
}

.field--type-text-with-summary {
  text-align: justify;
}

.field--name-field-tags {
  direction:rtl;
  text-align:right;
}

article nav {
  float:right;
}

/* Borders */

/* Thick charcoal dashed border */
.comment,
.node--view-mode-teaser,
.path-node #content-wrapper,
ol.search-results.node_search-results {
  border: 3px #666666 dashed;
}

/* Regular corners with no borders */
.image-style-gallery-thumb, .image-style-gallery-photo {
  border-radius: 0;
  border-width: 0;
  padding:5px;
}

/* Light purple */
input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.dark input[type="submit"],.highlighted-block .btn:hover,.highlighted-block .btn:focus,.call-to-action .btn,.tag a:hover, ::-moz-selection, ::selection, input.form-text:focus,input.search-text:focus,textarea.form-textarea:focus {
  border-color: #846baf;
}

/* Background colors */
/* White */

#subfooter ul.menu li,
ul.menu li, ul.tabs li a:hover,
.node--view-mode-teaser,
.path-node #content-wrapper, .block-beargoyles-page-title,
.block-beargoyles-local-tasks,
h1.page-title, ul.tabs.primary, ol.search-results.node_search-results, #subfooter {
  background-color: #FFFFFF;
}

/* Menus */
.region-sidebar-second ul.menu li {
  border: 0;
  border-bottom: 3px #51387e solid;
  text-align:center;
  padding: 10px;
  margin-right:25px;
  margin-bottom:15px;
  list-style: none;
  width: 150px;
  float:right;
}

#main-navigation ul.menu li a {
  padding: 5px;
  margin: 20px;
}

/* Leaf shape for content containers */
.node--view-mode-teaser, .path-node #content-wrapper,
.region-content, .node__content,
div.messages.messages--status,
.item-list ul li, h1.page-title,
.field--type-text-with-summary,
ul.tabs.primary,
.clearfix.text-formatted.field.field--name-description.field--type-text-long.field--label-hidden.field__item p,
.comment, .block, .block-beargoyles-page-title,
.block-beargoyles-local-tasks, .field-item:hover,
ol.search-results.node_search-results, .field--name-field-beargoyle-tags .field__item,
textarea.form-textarea {
  border-radius: 15px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.search-block-form {
  margin-bottom:50px;
}

/* Rounded rectangles for smaller objects */
button, .button, .field--type-image,
.menu-item, ul.tabs li, ul.menu li,
ul.links.field__items li,
#main-navigation ul.menu li,
input.button, figure.caption-img img, input.pp-WAQZYM62ZJPS4 {
  border-radius: 15px;
}

div.messages.messages {
  margin-right:0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 150px;
}

/* No border */
ul.tabs li a:hover {
  border: 0;
}

/* MIGRATE */



.item-list ul li {
  background-color: #FFFFFF;
  opacity: 80%;
  border: 1px grey solid;
  padding: 15px;
  padding-bottom: 50px;
  margin-bottom: 25px;
}

.breadcrumb {
  /* background-color: #fcfcfc; */
  border: 1px solid #eaeaea;
  /* padding: 14px 20px!important; */
  /* margin-bottom: 30px; */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 0px;
  /* padding: 0px; */
}

#banner-inside {
  padding-top: 20px;
  margin-bottom: 0px;
}

#main-content {
  padding: 20px 0 30px 0;
}

/* Tags */
.field--name-field-beargoyle-tags .field__item {
  float:right;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: x-large;
  margin: 5px 0 0 5px;
  line-height:150%;
}

.field--name-field-beargoyle-tags .field__item:hover {
  background-color: #c1c4c9;
}

.field--name-field-beargoyle-tags .field__item a:hover {
  text-decoration:none;
  color: #30054a;
}

h1.page-title {
  font-size: 72px;
}

/* Get rid of all the red */
a:hover,a:focus,ul.menu li a.active,ul.menu li a:hover,ul.links li a.active,ul.links li a:hover,#forum thead a:hover,#block-node-recent .node-title a:hover {
  color: #846baf;
}

input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.dark input[type="submit"],.highlighted-block .btn:hover,.highlighted-block .btn:focus,.call-to-action .btn,.tag a:hover {
  background-color: #846baf;
}

::-moz-selection {
  background-color: #846baf;
}

::selection {
  background-color: #846baf;
}

input.form-text:focus,input.search-text:focus,textarea.form-textarea:focus {
  border-color: #846baf;
}

#desc-label {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.title-sep:after, #pre-header h2:after, #promoted h2:after, .sidebar h2:after, #footer h2:after {
  display: none;
}

#subfooter {
  border-top: 1px solid #eaeaea;
  padding: 10px;
  margin-bottom: 0px;
}

.field.field--name-name.field--type-string.field--label-hidden.field__item {
  z-index: 100;
  position: relative;
  padding-left: 2px;
  font-weight:800;
}

.bottomleaf {
  padding: 20px;
  color: #666666;
  font-size: small;
}

input#edit-submit {
  margin: 20px 0 0 0;
}

.search-result__title {
  font-size:4rem;
  line-height:2;
}

img.image-style-thumbnail {
  border-radius: 50px;
  padding: 5px;
}

img.image-style-medium {
  border-radius:120px;
  padding: 10px;
}



/* START NEW ORGANIZATION PATTERN */

/* Blocks */

div#block-branding-beargoyles {
  background: #FFFFFF;
  opacity: 85%;
  z-index: 100;
  position: relative;
}

/* Colors
Style guide:
Purple: #51387e
Light purple: #846baf
Silver: #666666
Charcoal: #333333;
Dark Grey: #180527;
White: #FFFFFF
Off-White/super light grey: #f4f7fb
*/

/* Containers */

.css-dt0ym9 {
  width: auto!important;
}

.sideleaf, .roundcorner, .captcha  {
  border: 1px #846baf solid;
  background-color: #FFFFFF;
  padding: 35px;
}

.sideleaf, .roundcorner {
  margin-bottom:50px;
}

.sideleaf, .sideleaf2, label, .captcha, div#site-slogan, div#site-name, h2 {
  border-radius: 15px;
  border-top-right-radius: 100px;
}

.sideleaf2, label, div#site-slogan, div#site-name, h2 {
  border-bottom-left-radius: 100px;
}

.captcha {
  background-color: #FFFFFF;
}

div#site-slogan, div#site-name, a#logo img, h2 {
  background-color: #FFFFFF;
  display: inline-block;
}

.view-header {
  background-color: #FFFFFF;
  border-radius: 15px;
  border-top-right-radius: 100px;
  margin-bottom: 25px;
  border: 2px solid #eaeaea;
  padding: 15px;
  padding-right: 30px;
  display:none;
}

.view-header p {
  line-height: 1.5;
  font-size: 24px;
  color: #333333;
  font-style: italic;
  margin-bottom: 0;
}

/*
 * Fonts, Copy, Text and Markup, Headings, and Labels
 */

b, em, strong {
  /*color: #846baf;*/
  font-weight: 700;
}

div#site-slogan {
  font-size: 24px;
  font-style: italic;
  color: #333333;
}

h1, #site-name a {
  font-family: "Londrina Outline", serif;
  font-weight: 800;
  font-style: normal;
}

#site-name a {
  font-size: 72px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, #site-name a {
  color: #333333;
}

h2 {
  line-height: 200%;
  font-family: nunito, sans-serif;
  color: #51387e;
  font-weight: normal;
}

label, label.input-label {
  color: #51387e;
  font-weight: 500;
  font-size: 42px;
  background: #FFFFFF;
}

legend.captcha__title.js-form-required.form-required {
  display: none;
}

.field__item a, .field__label, #site-name a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: 600;
}

.footer {
  text-align: justify;
}

span.file.file--mime-application-pdf.file--application-pdf {
  font-size: larger;
  font-weight: bolder;
}

#paypal-form-fields-container-WAQZYM62ZJPS4 .input-label {
  font-size:large!important;
  font-weight: 600!important;
}

#paypal-form-fields-container-WAQZYM62ZJPS4 #desc-label {
  font-size: larger!important;
  font-weight: 600!important;
  line-height: 1.5!important;
  text-align: left!important;
}

/* Form Elements */

input, button, select {
  font-size: 18px;
}

#paypal-form-fields-container-WAQZYM62ZJPS4 input {
  width: 100%;
  min-height: auto!important;
  font-size: large!important;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
  box-sizing: border-box;
  border-width: 1px!important;
  border-style: solid;
  border-radius: 15px!important;
  box-shadow: none;
  padding: 15px 24px!important;
  text-transform: none!important;
  opacity: 90%;
  color: #FFFFFF;
  background-color: #333333;
}

select#edit-tid {
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  box-shadow: none;
  padding: 15px 24px;
  text-transform: uppercase;
  opacity: 90%;
  color: #FFFFFF;
  background-color: #333333;
}

input#edit-keys, input#edit-name, input#edit-mail, input#edit-pass,
input#edit-captcha-response, textarea#edit-message-0-value {
  background: #333333;
  color: #FFFFFF;
  font-size: 24px;
  padding: 15px;
  border-radius: 15px;
  min-height: 50px;
  border: 2px solid #eaeaea;
  opacity: 90%;
  margin-bottom: 20px;
}

/*input#edit-name, input#edit-mail, input#edit-pass,*/
/*input#edit-captcha-response, textarea#edit-message-0-value, input#edit-keys {*/
/*  margin-bottom: 20px;*/
/*}*/

.search-block-form input.form-search {
  width: 100%;
}

/* Images */

a#logo img {
  border-radius: 50px;
  opacity: 85%;
}
