/* STYLE GUIDE AND NOTES
Style guide:
Purple: #51387e
Light purple: #846baf
Silver: #666666
Charcoal: #333333;
Dark Grey: #180527;
White: #FFFFFF
Off-White/super light grey: #f4f7fb

*/

/* FONTS AND MARKUP */

/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Gwendolyn&family=Montserrat:wght@300&family=Nunito:wght@300;400&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

/* Fonts, weight and style */
body, h2, h3, h4, h5, h6, p {
  line-height: 200%;
  font-family: nunito, sans-serif;
}

p, .field__item, .field__label {
  font-size: large;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color:#51387e;
  text-decoration:underline;
}

h1 {
  font-family: "Londrina Outline", serif;
  font-weight: 800;
  font-style: normal;
}

blockquote p {
  font-size: x-large;
  font-style: italic;
}

ul li {
  list-style: disk;
}

div.meta.submitted {
  font-size: 16px;
}

.node__links {
  float:right;
  font-size: 85%;
}

/* text colors */

/* purple text */
a, a:hover, .label, h2,
input.form-text, input.form-email, input.form-search, textarea.form-textarea, select,
div.meta.submitted,a:focus,ul.menu li a.active,ul.menu li a:hover,ul.links li a.active,
ul.links li a:hover,#forum thead a:hover,#block-node-recent .node-title, input, input#edit-keys {
  color: #51387e;
}

/* charcoal text */

h1, h3, h4, h5 {
  color:#333333;
}

/* silver text */
h6, #subfooter {
  color: #666666;
}

/* Spacing and Alignment */

input.form-text, input.form-email, input.form-search, textarea.form-textarea, select,
div.view-header {
  padding:10px;
}

.block {
  padding: 0 0 5px 0;
}

.node--view-mode-teaser,
.path-node #content-wrapper, ol.search-results.node_search-results {
  padding: 15px;
}

.node__content {
  padding: 0 40px;
}

.field--type-image {
  float:left;
  margin-right: 25px;
  margin-bottom: 15px;
}

.field--type-text-with-summary {
  text-align: justify;
}

.field--name-field-tags {
  direction:rtl;
  text-align:right;
}

article nav {
  float:right;
}

/* Borders */

/* Thick charcoal dashed border */
.comment,
.node--view-mode-teaser,
.path-node #content-wrapper,
ol.search-results.node_search-results {
  border: 3px #666666 dashed;
}

/* thin light purple border */
div#block-beargoyles-donate, div.view-header,
input#edit-keys {
  border: 1px #846baf solid;
}

/* Regular corners with no borders */
.image-style-gallery-thumb, .image-style-gallery-photo {
  border-radius: 0;
  border-width: 0;
  padding:5px;
}

/* Light purple */
input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.dark input[type="submit"],.highlighted-block .btn:hover,.highlighted-block .btn:focus,.call-to-action .btn,.tag a:hover, ::-moz-selection, ::selection, input.form-text:focus,input.search-text:focus,textarea.form-textarea:focus {
  border-color: #846baf;
}

/* Background colors */
/* White */

#subfooter ul.menu li,
ul.menu li, ul.tabs li a:hover,
.node--view-mode-teaser,
.path-node #content-wrapper, .block-beargoyles-page-title,
.block-beargoyles-local-tasks, div.view-header,
h1.page-title, ul.tabs.primary, ol.search-results.node_search-results, #subfooter {
  background-color: #FFFFFF;
}

/* Menus */
.region-sidebar-second ul.menu li {
  border: 0;
  border-bottom: 3px #51387e solid;
  text-align:center;
  padding: 10px;
  margin-right:25px;
  margin-bottom:15px;
  list-style: none;
  width: 150px;
  float:right;
}

#main-navigation ul.menu li a {
  padding: 5px;
  margin: 20px;
}

/* Leaf shape for content containers */
.node--view-mode-teaser, .path-node #content-wrapper,
.region-content, .node__content,
div.messages.messages--status,
.item-list ul li, h1.page-title,
.field--type-text-with-summary,
ul.tabs.primary, div.view-header,
.clearfix.text-formatted.field.field--name-description.field--type-text-long.field--label-hidden.field__item p,
.comment, .block, .block-beargoyles-page-title,
.block-beargoyles-local-tasks, input#edit-submit, .field-item:hover, input#edit-keys,
ol.search-results.node_search-results, .field--name-field-beargoyle-tags .field__item {
  border-radius: 15px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

/* Rounded rectangles for smaller objects */
button, .button, .field--type-image,
.menu-item, ul.tabs li, ul.menu li,
ul.links.field__items li,
#main-navigation ul.menu li,
input.button, figure.caption-img img {
  border-radius: 15px;
}

div.messages.messages {
  margin-right:0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 150px;
}

/* MOUSEOVER AFFECTS */

.image-style-gallery-thumb {
  filter: grayscale(95%);
  opacity: 90%;
}

.image-style-gallery-thumb:hover {
  filter: grayscale(0%);
  opacity: 100%;
}

/* No border */
ul.tabs li a:hover {
  border: 0;
}

/* MIGRATE */

div.view-header {
  margin-bottom: 25px;
  line-height: 1.2;
  font-size: 38px;
  color: #51387e;
}

/* TEMPLATE DEBUGGING: to debug uncomment out all of the following

.node__content .clearfix,
.block-system-main-block,
div#content-wrapper,
.region-content,
#main.clearfix,
h2.title,
.node header,
.node--view-mode-teaser,
.path-node #content-wrapper,
.comment, ul.menu li,
.col-md-8 {
  border: thick solid black;
}

.block {
  border: 2px dashed black;
}


.node__content .clearfix {
  background-color: orange;
}

.block-system-main-block {
  background-color: yellow;
}

div#content-wrapper {
  background-color: lightblue;
}

.region-content {
  background-color: pink;
}

#main.clearfix {
  background-color: green;
}

h2.title {
  background-color:red;
}

.node header {
  background-color: blue;
}

.content .node--type-page header {
  background-color: darkseagreen;
}

.col-md-8 {
  background-color: purple;
}

.node--view-mode-teaser {
  background-color: cyan;
}

.path-node #content-wrapper {
  background-color: blueviolet;
}

.comment {
  background-color: darkblue;
}

.block {
  background-color: lightgrey;
}

ul.menu li {
  background-color: deeppink;
}

.field--type-text-with-summary {
  background-color: lightyellow;
}

.node__content {
  background-color:darkkhaki;
}

.block-block-content {
  background-color:darkslateblue;
}

*/

.item-list ul li {
  background-color: #FFFFFF;
  opacity: 80%;
  border: 1px grey solid;
  padding: 15px;
  padding-bottom: 50px;
  margin-bottom: 25px;
}

.breadcrumb {
  /* background-color: #fcfcfc; */
  border: 1px solid #eaeaea;
  /* padding: 14px 20px!important; */
  /* margin-bottom: 30px; */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 0px;
  /* padding: 0px; */
}

#banner-inside {
  padding-top: 20px;
  margin-bottom: 0px;
}

#main-content {
  padding: 20px 0 30px 0;
}

/* Tags */
.field--name-field-beargoyle-tags .field__item {
  float:right;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: x-large;
  margin: 5px 0 0 5px;
  line-height:150%;
}

.field--name-field-beargoyle-tags .field__item:hover {
  background-color: #c1c4c9;
}

.field--name-field-beargoyle-tags .field__item a:hover {
  text-decoration:none;
  color: #30054a;
}

h1.page-title {
  font-size: 72px;
}

/* Get rid of all the red */
a,a:hover,a:focus,ul.menu li a.active,ul.menu li a:hover,ul.links li a.active,ul.links li a:hover,#forum thead a:hover,#block-node-recent .node-title a:hover {
  color: #846baf;
}

input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.dark input[type="submit"],.highlighted-block .btn:hover,.highlighted-block .btn:focus,.call-to-action .btn,.tag a:hover {
  background-color: #846baf;
}

::-moz-selection {
  background-color: #846baf;
}

::selection {
  background-color: #846baf;
}

input.form-text:focus,input.search-text:focus,textarea.form-textarea:focus {
  border-color: #846baf;
}

input#edit-keys {
  font-size: 30px;
  font-weight:800px;
  opacity: 90%;
  padding-left: 15px;
}

div#block-beargoyles-donate {
  background-color: white;
  opacity: 90%;
  padding: 30px;
}

#desc-label {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.title-sep:after, #pre-header h2:after, #promoted h2:after, .sidebar h2:after, #footer h2:after, .view-header {
  display: none;
}

#subfooter {
  border-top: 1px solid #eaeaea;
  padding: 10px;
  margin-bottom: 0px;
}

.field.field--name-name.field--type-string.field--label-hidden.field__item {
  z-index: 100;
  position: relative;
  padding-left: 2px;
  font-weight:800;
}
