/*
 * General markup and styling for beargoyles.com
 * Colors are defined in colors.css
 * Borders are defined in borders.css
 * Anything related to the background splash paint affect in splash.css
 */

/* FONTS AND MARKUP */

/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Gwendolyn&family=Montserrat:wght@300&family=Nunito:wght@300;400&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Fonts, weight and style */
body, h3, h4, h5, h6, p {
  line-height: 200%;
  font-family: nunito, sans-serif;
}

p, .field__item, .field__label, div#edit-captcha-response--description {
  font-size: large;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration:underline;
}

blockquote p {
  font-size: x-large;
  font-style: italic;
}

ul li {
  list-style: disk;
}

div.meta.submitted {
  font-size: 16px;
}

.node__links {
  float:right;
  font-size: 85%;
}

/* Spacing and Alignment */

input.form-text, input.form-email, input.form-search, textarea.form-textarea, select {
  padding:10px;
}

.block {
  padding: 0 0 5px 0;
}

.node--view-mode-teaser,
.path-node #content-wrapper, ol.search-results.node_search-results {
  padding: 15px;
}

.node__content {
  padding: 0 40px;
}

.field--type-image {
  margin-right: 25px;
  margin-bottom: 15px;
}

.field--type-text-with-summary {
  text-align: justify;
}

.field--name-field-tags {
  direction:rtl;
  text-align:right;
}

article nav {
  float:right;
}

/* BORDERS */

/* Thick dashed */
.comment,
.node--view-mode-teaser,
.path-node #content-wrapper,
ol.search-results.node_search-results {
}

/* Regular corners with no borders */
.image-style-gallery-thumb, .image-style-gallery-photo {
  padding:5px;
}

/* Menus */
.region-sidebar-second ul.menu li {
  text-align:center;
  padding: 10px;
  margin-right:25px;
  margin-bottom:15px;
  list-style: none;
  width: 150px;
  float:right;
}

#main-navigation ul.menu li a {
  padding: 5px;
  margin: 20px;
}

.search-block-form {
  margin-bottom:50px;
}

.item-list ul li {
  opacity: 80%;
  padding: 15px;
  padding-bottom: 50px;
  margin-bottom: 25px;
}

.breadcrumb {
  margin: 0;
}

#banner-inside {
  padding-top: 20px;
  margin-bottom: 0;
}

#main-content {
  padding: 20px 0 30px 0;
}

/* Tags */
.field--name-field-beargoyle-tags .field__item {
  float:right;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: x-large;
  margin: 5px 0 0 5px;
  line-height:150%;
}

.field--name-field-beargoyle-tags .field__item a:hover {
  text-decoration:none;
}

h1.page-title {
  font-size: 72px;
}

#desc-label {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.sidebar-no-border {
  margin-bottom: 20px;
}

.title-sep:after, #pre-header h2:after, #promoted h2:after, .sidebar h2:after, #footer h2:after {
  display: none;
}

#subfooter {
  padding: 10px;
  margin-bottom: 0;
}

.field.field--name-name.field--type-string.field--label-hidden.field__item {
  z-index: 100;
  position: relative;
  padding-left: 2px;
  font-weight:800;
}

.bottomleaf {
  padding: 20px;
  font-size: small;
}

input#edit-submit {
  margin: 20px 0 0 0;
}

.search-result__title {
  font-size:4rem;
  line-height:2;
}

img.image-style-medium {
  opacity: 85%;
}

img.image-style-large-white-circle {
  opacity: 85%;
}


/* START NEW ORGANIZATION PATTERN */

/* Blocks */

div#block-branding-beargoyles {
  opacity: 85%;
  z-index: 100;
  position: relative;
}

/* Colors
Style guide:
Purple: #51387e
Light purple: #846baf
Silver: #666666
Charcoal: #333333;
Dark Grey: #180527;
White: #FFFFFF
Off-White/super light grey: #f4f7fb
*/

/* Containers */

.css-dt0ym9 {
  width: auto!important;
}

.sideleaf, .roundcorner, .captcha  {
  padding: 35px;
}

.sideleaf, .roundcorner {
  margin-bottom:50px;
}

div#site-slogan, div#site-name, a#logo img, h2 {
  display: inline-block;
}

.view-header {
  margin-bottom: 25px;
  padding: 15px;
  padding-right: 30px;
  display:none;
}

.view-header p {
  line-height: 1.5;
  font-size: 24px;
  color: #333333;
  font-style: italic;
  margin-bottom: 0;
}

/*
 * Fonts, Copy, Text and Markup, Headings, and Labels
 */

b, em, strong {
  /*color: #846baf;*/
  font-weight: 700;
}

div#site-slogan {
  font-size: 24px;
  font-style: italic;
}

h1, #site-name a {
  font-family: "Londrina Outline", serif;
  font-weight: 800;
  font-style: normal;
}

#site-name a {
  font-size: 52px;
}

h2 {
  line-height: 200%;
  font-family: nunito, sans-serif;
  font-weight: normal;
}

label, label.input-label {
  font-weight: 500;
  font-size: 42px;
}

legend.captcha__title.js-form-required.form-required {
  display: none;
}

.field__item a, .field__label, #site-name a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: 600;
}

.footer {
  text-align: justify;
}

span.file.file--mime-application-pdf.file--application-pdf {
  font-size: larger;
  font-weight: bolder;
}

/* Form Elements */

input, button, select {
  font-size: 18px;
}

select#edit-tid, select#selector, select#edit-tid-1{
  box-shadow: none;
  padding: 15px 24px;
  text-transform: uppercase;
  opacity: 90%;
}

input#edit-keys, input#edit-name, input#edit-mail, input#edit-pass,
input#edit-captcha-response, textarea#edit-message-0-value {
  font-size: 24px;
  padding: 15px;
  min-height: 50px;
  opacity: 90%;
  margin-bottom: 20px;
}

/*input#edit-name, input#edit-mail, input#edit-pass,*/
/*input#edit-captcha-response, textarea#edit-message-0-value, input#edit-keys {*/
/*  margin-bottom: 20px;*/
/*}*/

.search-block-form input.form-search {
  width: 100%;
}

/* Images */

a#logo img {
  opacity: 85%;
}
